body {
    background-color: black;
    color: white
}

a {
    color: inherit;
    text-decoration: none;
}

.navBar {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
}

.App {
    display: grid;
    grid-template-rows: 2fr auto auto;
    font-family: 'Acme';
    font-size: 30px;
}

.logo {
    justify-self: end;
    color: red;
}

img {
    width: 100%;
    height: 100%;
}