.users {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.header {
    text-align: center;
    padding: 50px
}

.user {
    margin-right: 30px;
    font-size: 30px;
    background-color: red;
    text-align: center;
    -webkit-text-stroke-width: medium;
    padding: 70px;
    vertical-align: inherit;
}